<!-- <p>
  login-page works!
</p> -->

<div class="h-100 w-100">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-position" data-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item h-100 active">
        <img class="d-block w-100 h-100" src="../../assets/img/download-1.jpeg" alt="First slide">
      </div>
      <div class="carousel-item h-100">
        <img class="d-block w-100 h-100" src="../../assets/img/download-2.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item h-100">
        <img class="d-block w-100 h-100" src="../../assets/img/download-3.jpeg" alt="Third slide">
      </div>
    </div>
  </div>
  <div class="text-center align-middle box-middle">
    <fieldset class=" d-inline-block p-5 border">
      <legend>Login</legend>
      <div class="p-1">
        <label class="pr-4" for="">Username </label>
        <input type="text" name="username" id="user" [(ngModel)]="email">
      </div>
      <div class="p-1">
        <label class="pr-4" for="">Password </label>
        <input class="pass" type="password" name="pass" id="password" [(ngModel)]="password">
      </div>
      <div class="p-1">
        <div class="btn" (click)="login()">Login</div>
      </div>
    </fieldset>
  </div>
</div>