<div class="container-fluid">
  <div class="content-wrapper">
    <div class="signup">
      <div class="header">
        Signup
      </div>
      <div class="user-fields">
        <div class="">
          <label for="">Name:</label>
          <input type="text" name="username" id="username" [(ngModel)]="name">
        </div>
        <div>
          <label for="">E-mail:</label>
          <input type="text" name="email" id="email" email [(ngModel)]="email">
        </div>
        <div>
          <label for="">Password:</label>
          <input type="password" name="password" id="password" [(ngModel)]= "password">
        </div>
        <div>
          <button type="submit" (click)="signUp()">Signup</button>
        </div>
      </div>
    </div>
  </div>
</div>