/* You can add global styles to this file, and also import other style files */
html, body
    height: 100%
.box-middle
    display: table-cell
    height: 100vh
    width: 100vw
.carousel-position
    z-index: -1
    position: absolute !important
    width: 100%
    height: 100%
.btn
    box-shadow: 0 1px 6px #000000
    cursor: pointer

.h-5
    height: 5%
.h-95
    height: 95%
.w-30
    width: 30%
.w-70
    width: 70%
.w-80
    width: 80%
.w-20
    width: 20%

.msg:nth-child(odd)
    float: left
    width: 100%
.msg:nth-child(even)
    float: right